# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/
bin/

# Mac
.DS_Store

# Maven
target/
*.html
binas-ws/doc/jquery/external/jquery/jquery.js
*.png
*.css
binas-ws/doc/jquery/jquery-ui.js
*.js
*.db
.metadata/.lock
*.rss
*.txt
*.snap
*.resources
*.xmi
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.dat
*.xml
*.fdt
*.fdx
*.frq
*.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_1
*.nrm
*.fnm
*.tis
*.prx
*.gen
*.lock
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.ser
*.properties
.metadata/.plugins/org.eclipse.ui.intro/introstate
*.ini
*.json
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.index
*.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/fcbdc41bb30d8be337e28e3304b58453/segments_2
.metadata/.mylyn/.taskListIndex/segments_1
*.setup
*.tmp
*.c
*.cpp
*.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_7
*.container
*.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_3
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_8
.metadata/.plugins/org.eclipse.m2e.core/nexus/fcbdc41bb30d8be337e28e3304b58453/segments_3
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_2
*.history
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_9
.metadata/.plugins/org.eclipse.m2e.core/nexus/fcbdc41bb30d8be337e28e3304b58453/segments_4
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_3
